<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <div class="logo"></div>
    <ul>
        <li><a href="/app/v1/blogs">Get Blogs</a></li>
        <li><a href="/app/v1/admin/logout">Logout</a></li>
    </ul>
</nav>
<main>
    <h1>Admin Dash Board</h1>
</main>
</body>
</html>