<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <div class="back"><a href="/app/v1/blogs/dashboard">Home</a></div>
    <ul>
        <li><a href="/app/v1/blogs/author">My Blogs</a></li>
        <li><a href="/app/v1/author/logout">Logout</a></li>
    </ul>
</nav>
<main>
    <h1>Author Dash Board</h1>
    <div class="form_container">
      <h2>Post a Blog Here</h2>
      <form action="/app/v1/blogs" class="form  " method="post" enctype="multipart/form-data">
        <div class="input_row">
          <label for="title" class="input_label">Title</label>
          <input type="title" class="input_control" name="title" id="title" />
        </div>
        <div class="input_row">
          <label for="snippet" class="input_label">Snippet</label>
          <input type="text" class="input_control" id="email" name="snippet" />
        </div>
        <div class="input_row">
          <label for="description" class="input_label">Description</label>
          <textarea name="description" id="description"></textarea>
        </div>
        <div class="input_row">
          <label for="image" class="input_label">Image</label>
          <input type="file" class="input_control" id="image" name="image" />
        </div>
        <div class="input_row">
          <label for="price" class="input_label">Price</label>
          <input type="number" class="input_control" id="price" name="price" />
        </div>
        <div class="btn_container">
          <button type="submit">Submit</button>
          <button type="reset">Clear</button>
        </div>
      </form>
    </div>

</main>
</body>
</html>